header {
    --header-flex-direction: row;
    --header-align-items: center;
    --header-justify-content: space-between;
    --header-gap: ;
    --header-padding: ;

    &.column {
        --header-flex-direction: column;
    }

    &.start {
        --header-align-items: flex-start;
    }

    &.center {
        --header-align-items: center;
    }
}