header {
    --header-gap: ;
    --header-padding: ;

    &.column {
        --header-flex-direction: column;
    }

    &.start {
        --header-align-items: flex-start;
    }

    &.center {
        --header-align-items: center;
    }
}