header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: var(--header-align-items);
    justify-content: space-between;
    gap: var(--header-gap);
    padding: var(--header-padding);

}